@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="text-primary">Política de Privacidad de Datos</h1>

<section class="mt-4">
    <p>En Goodbyes, nos comprometemos a proteger tu privacidad y garantizar la seguridad de tus datos personales.</p>
    <p>Esta política de privacidad explica cómo recopilamos, utilizamos, y protegemos tu información personal cuando utilizas nuestro sitio web.</p>

    <h2 class="mt-5">1. Información que Recopilamos</h2>
    <p>Podemos recopilar la siguiente información personal:</p>
    <ul>
        <li>Nombre y apellidos</li>
        <li>Dirección de correo electrónico</li>
        <li>Información de contacto, como número de teléfono</li>
        <li>Datos sobre tus visitas y uso de nuestro sitio web</li>
        <li>Cualquier otra información que decidas proporcionarnos voluntariamente</li>
    </ul>

    <h2 class="mt-5">2. Uso de la Información</h2>
    <p>Utilizamos la información recopilada para los siguientes fines:</p>
    <ul>
        <li>Proveer y mejorar nuestros servicios</li>
        <li>Personalizar tu experiencia en nuestro sitio web</li>
        <li>Enviar comunicaciones relacionadas con nuestros servicios</li>
        <li>Responder a tus preguntas y comentarios</li>
        <li>Cumplir con obligaciones legales</li>
    </ul>

    <h2 class="mt-5">3. Compartir Información</h2>
    <p>No compartimos tu información personal con terceros, excepto en los siguientes casos:</p>
    <ul>
        <li>Con tu consentimiento explícito</li>
        <li>Para cumplir con leyes y regulaciones aplicables</li>
        <li>Para proteger nuestros derechos, privacidad, seguridad o propiedad, y los de nuestros usuarios</li>
    </ul>

    <h2 class="mt-5">4. Seguridad de los Datos</h2>
    <p>Implementamos medidas de seguridad adecuadas para proteger tu información personal contra accesos no autorizados, alteraciones, divulgaciones o destrucción.</p>

    <h2 class="mt-5">5. Tus Derechos</h2>
    <p>Tienes el derecho de acceder, corregir o eliminar tu información personal. También puedes oponerte al procesamiento de tus datos o solicitar la limitación del mismo. Para ejercer estos derechos, puedes contactarnos a través de los medios proporcionados en nuestro sitio web.</p>

    <h2 class="mt-5">6. Cambios en la Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página con una fecha de revisión actualizada.</p>

    <h2 class="mt-5">7. Contacto</h2>
    <p>Si tienes alguna pregunta sobre esta política de privacidad o sobre cómo manejamos tu información personal, por favor contáctanos en:</p>
    <p>
        Correo electrónico: <a href="mailto:info@goodbyes.events">info@goodbyes.events</a><br>
    </p>
</section>