@model Backend.Services.DB.Entities.Service

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Servicios</h1>
<h4 class="mt-2">
    <p class="text-secondary">
        <i class="me-2 bi bi-pencil-fill" style="font-size: 1.5rem; color: orange;"></i>
        Editar
    </p>
</h4>
<hr />

<div class="my-5">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="IDService" class="control-label"></label>*@
                <input asp-for="IDService" class="form-control" type="hidden"/>
                <span asp-validation-for="IDService" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="fw-bold form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="mt-4 form-group">
                <label asp-for="Type" class="mb-2 fw-bold control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="mt-4 form-group">
                <label asp-for="Name" class="mb-2 fw-bold control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-4 form-group">
                <label asp-for="Description" class="mb-2 fw-bold control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mt-4 form-group">
                <label asp-for="Price" class="mb-2 fw-bold control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mt-5 form-group">
                <input type="submit" value="Guardar" class="px-4 btn btn-primary fs-5" />
                <a class="ms-2 px-4 btn btn-outline-secondary fs-5" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
