@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mb-5 display-4 text-white">Goodbyes User</h1>

    <div class="d-flex flex-column">
        <div>
            <a class="py-3 px-5 btn btn-outline-primary fs-3" asp-controller="Parties" asp-action="Index">Gestionar Fiestas</a>
        </div>
    </div>
</div>
